 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

